<header>
  {% include 'nav.njk'%}

  <div class="header-content">
    <h1>מאה אחוז מתכונים. אפס אחוז בליבולי מח</h1>
    <p>בלי סיפורים סוחטי דמעות על חצילים, בלי פירסומות לחלבה.
    <br/>
    מתכון קלאב הוא מקום לשתף ולמצוא מתכונים לאנשים שרוצים <u>רק לבשל</u>
    </p>
      <a href="#" class="cta">יש לי מתכון לשתף</a>
  </div>
</header>
